<html>
    <body>
        <h4>Invictus API</h4>
        <p>Hello there! You are in the Invictus API root page</p>
        <hr />
        <h4>Endpoints</h4>
        <p>The available endpoints are listed bellow:</p>
        <ul>
            <li>/graphql/</li>
            <li>/wiki/</li>
        </ul>
        <hr />
        <h4>Docs</h4>
        <p>For more detailed information please visit the <a href="https://github.com/brunolcarli/Invictus/wiki">API docs</a></p>
        <hr />
    </body>
</html>